<div class="container padding container_actions">
<div class="d-flex justify-content-between">
<div>
<button type="button" class="btn btn-outline-info" (click)='goBack()'>
<span class="fa fa-arrow-left"></span>
</button>
</div>
<div>
<div class="row">
<div class="col col-12">
<button type="button" class="btn btn-outline-success" (click)='AddEntry()'>
<span class="fa fa-plus"></span>
</button>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class='row'>
<div class="col col-lg-4" *ngFor='let entry of data'>
<div class="container entry_section">
<form fxLayout='column' #f="ngForm">
<mat-form-field>
<mat-select placeholder="Neighborhood" [(value)]='entry.NEIGHBORHOOD_ID'><mat-option>Choose</mat-option><mat-option *ngFor='let NeighborhoodEntry of NeighborhoodList' [value]='NeighborhoodEntry.NEIGHBORHOOD_ID'>{{NeighborhoodEntry.NAME}}</mat-option></mat-select> 
</mat-form-field>
<mat-form-field>
<input matInput type="date" placeholder="Startdate"  name="STARTDATE" [(ngModel)]="entry.STARTDATE" required /><mat-error>Startdate is required</mat-error>
</mat-form-field>
<mat-form-field>
<input matInput type="date" placeholder="Enddate"  name="ENDDATE" [(ngModel)]="entry.ENDDATE" required /><mat-error>Enddate is required</mat-error>
</mat-form-field>
<mat-checkbox color="primary"  name="ISCLOSED" [(ngModel)]="entry.ISCLOSED">Isclosed</mat-checkbox>
<mat-form-field>
<textarea matTextareaAutosize  matInput name="COMMENT" placeholder="Comment" rows="3" [(ngModel)]="entry.COMMENT" required></textarea><mat-error>Comment is required</mat-error>
</mat-form-field>
<div class="row">
<div class='col col-md-6'>
<button [disabled]='!f.valid' mat-raised-button color='primary' type="button" class="btn btn-outline-secondary btn-block" (click)='Edit(entry)'>Save</button>
</div>
<div class='col col-md-6'>
<button mat-raised-button color='warn' type="button" class="btn btn-outline-danger btn-block" (click)="Delete(entry)">Delete</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
