<div class="container padding container_actions">
<div class="d-flex justify-content-between">
<div>
<button type="button" class="btn btn-outline-info" (click)='goBack()'>
<span class="fa fa-arrow-left"></span>
</button>
</div>
<div>
<div class="row">
<div class="col col-12">
<button type="button" class="btn btn-outline-success" (click)='AddEntry()'>
<span class="fa fa-plus"></span>
</button>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class='row'>
<div class="col col-lg-4" *ngFor='let entry of data'>
<div class="container entry_section">
<form fxLayout='column' #f="ngForm">
<mat-form-field>
<input matInput placeholder="Name" type="text"  name="NAME" [(ngModel)]="entry.NAME" required /><mat-error>Name is required</mat-error>
</mat-form-field>
<div class="row">
<div class='col col-md-6'>
<button [disabled]='!f.valid' mat-raised-button color='primary' type="button" class="btn btn-outline-secondary btn-block" (click)='Edit(entry)'>Save</button>
</div>
<div class='col col-md-6'>
<button mat-raised-button color='warn' type="button" class="btn btn-outline-danger btn-block" (click)="Delete(entry)">Delete</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
